.main-navbar {
    width: $nav-width;
    height: 100%;
    position: fixed;
    left: 0;
    padding: 5px;
    border-right: 0.5px solid gray;

    &button {
        bottom: 20px;
    }

    &a.span:nth-child(2) {
        vertical-align: middle;
    }
}

.main-navbar>* {
    margin: 4px 0px;
    padding: 12px;
}