div.side-bar {
    background-color: #fff;
    border-right: 1px solid #dbdbdb;
    display: grid;
    font-size: 16px;
    grid-template-rows: 80px 1fr 10px;
    height: 100vh;
    padding: 0.615rem 0.92rem 1.54rem;
    position: fixed;
    width: 244px;

    // z-index: 11;
    .logo {
        margin-top: 10px;
        height: 60px;
        width: 125px;

        img {
            // padding-right: 12px;
            // padding-top: 25px;
            height: 100%;
            width: 100%;
            // margin-bottom: 20px;
            cursor: pointer;
        }
    }


    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

        .navbar-item-home {
            align-items: center;
            border-radius: 8px;
            color: #262626;
            cursor: pointer;
            display: flex;
            font-size: 0.92em;
            font-family: $sogoeui-sansaserif;
            gap: 10px;
            margin-bottom: 2px;
            margin-top: 2px;
            padding-left: 12px;
            padding-bottom: 1.5vh;
            text-decoration: none;
            width: 220px;

            svg {
                font-size: 22px;
                position: relative;
                width: 20px;
                height: 20px;
                display: flex;
            }
        }

        .navbar-item-search {
            align-items: center;
            border-radius: 8px;
            color: #262626;
            cursor: pointer;
            display: flex;
            font-family: $sogoeui-sansaserif;
            gap: 10px;
            margin-bottom: 2px;
            margin-top: 2px;
            padding-left: 12px;
            padding-bottom: 1.5vh;
            text-decoration: none;
            width: 220px;
            position: relative;
            font-size: 0.92em;

            svg {
                font-size: 16px;
                position: relative;
                width: 20px;
                height: 20px;
                display: flex;
            }
        }

        .navbar-item-explore {
            align-items: center;
            border-radius: 8px;
            color: #262626;
            cursor: pointer;
            display: flex;
            font-family: $sogoeui-sansaserif;
            gap: 10px;
            margin-bottom: 2px;
            margin-top: 2px;
            padding-left: 12px;
            padding-bottom: 1.5vh;
            text-decoration: none;
            width: 220px;
            position: relative;
            font-size: 0.92em;

            svg {
                font-size: 16px;
                position: relative;
                width: 20px;
                height: 20px;
                display: flex;
            }
        }

        .navbar-item-reels {
            align-items: center;
            border-radius: 8px;
            color: #262626;
            cursor: pointer;
            display: flex;
            font-family: $sogoeui-sansaserif;
            gap: 10px;
            margin-bottom: 2px;
            margin-top: 2px;
            padding-left: 12px;
            padding-bottom: 1.5vh;
            text-decoration: none;
            width: 220px;
            position: relative;
            font-size: 0.92em;

            svg {
                font-size: 16px;
                position: relative;
                width: 20px;
                height: 20px;
                display: flex;
            }
        }

        .navbar-item-messages {
            align-items: center;
            border-radius: 8px;
            color: #262626;
            cursor: pointer;
            display: flex;
            font-family: $sogoeui-sansaserif;
            gap: 10px;
            margin-bottom: 2px;
            margin-top: 2px;
            padding-left: 12px;
            padding-bottom: 1.5vh;
            text-decoration: none;
            width: 220px;
            position: relative;
            font-size: 0.92em;

            svg {
                font-size: 16px;
                position: relative;
                width: 20px;
                height: 20px;
                display: flex;
            }
        }

        .navbar-item-notifications {
            align-items: center;
            border-radius: 8px;
            color: #262626;
            cursor: pointer;
            display: flex;
            font-family: $sogoeui-sansaserif;
            gap: 10px;
            margin-bottom: 2px;
            margin-top: 2px;
            padding-left: 12px;
            padding-bottom: 1.5vh;
            text-decoration: none;
            width: 220px;
            position: relative;
            font-size: 0.92em;

            svg {
                font-size: 16px;
                position: relative;
                width: 20px;
                height: 20px;
                display: flex;
            }
        }

        .navbar-item-create {
            align-items: center;
            border-radius: 8px;
            color: #262626;
            cursor: pointer;
            display: flex;
            font-family: $sogoeui-sansaserif;
            gap: 10px;
            margin-bottom: 2px;
            margin-top: 2px;
            padding-left: 12px;
            padding-bottom: 1.5vh;
            text-decoration: none;
            width: 220px;
            position: relative;
            font-size: 0.92em;

            svg {
                font-size: 16px;
                position: relative;
                width: 20px;
                height: 20px;
                display: flex;
            }
        }

        .navbar-item-profile {
            align-items: center;
            border-radius: 8px;
            color: #262626;
            cursor: pointer;
            display: flex;
            font-family: $sogoeui-sansaserif;
            gap: 10px;
            margin-bottom: 2px;
            margin-top: 2px;
            padding-left: 12px;
            padding-bottom: 1.5vh;
            text-decoration: none;
            width: 220px;
            position: relative;
            font-size: 0.92em;

            img {
                background-color: rgb(250, 250, 250);
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-top-right-radius: 50%;
                border-top-left-radius: 50%;
                height: 24px;
                width: 24px;
            }

            svg {
                font-size: 16px;
                position: relative;
                width: 30px;
                height: 30px;
                display: flex;
            }
        }

        .navbar-item-more {
            align-items: center;
            border-radius: 25px;
            color: #262626;
            cursor: pointer;
            display: flex;
            font-family: $sogoeui-sansaserif;
            gap: 10px;
            margin-bottom: 3.5vh;
            margin-top: 4px;
            padding-left: 0.9vw;
            text-decoration: none;
            width: 220px;
            position: relative;
            font-size: 0.95em;
            position: absolute;
            bottom: 0;
            transition: background 0.1s ease-in-out;


            svg {
                font-size: 16px;
                position: relative;
                width: 30px;
                display: flex;
            }
        }
    }
}

.nav-more {
    cursor: pointer;
    display: none;
    position: absolute;
    bottom: 75px;
    left: 15px;
    width: 238px;

    &.open {
        display: flex;
        flex-direction: column;
    }

    .nav-more-btn {
        height: 44px;
        text-decoration: none;
        color: #262626;
        padding: 8px 22px;
        border: 0.1px solid rgb(219, 219, 219);
        background-color: #fff;
        border-radius: 5px;
        transition: background 0.1s ease-in-out;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    }

    .nav-more-btn:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}