.story-container {
    width: 630px;
    margin-right: 64px;
    padding: 6vh 10vh;
}

.story-list {
    width: 470px;
    margin: auto;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}