.story-preview {
    width: 100%;
    max-height: 90vh;

    .user-preview {
        padding: 5px;

    }

    button {
        background-color: transparent;
        border: none;
        color: inherit;
        text-align: start;

        &:hover {
            color: rgb(115, 115, 115);
        }
    }

}

.mini-user-img {
    height: 32px;
    width: 32px;

    border-radius: 50%;
}

.upload-preview {
    height: 200px;
    background-color: wheat;

}

.bg-img {
    margin: auto;
    width: 200px;
}

.user-name {
    font-family: inherit;
    font-weight: 600;
}