.story-preview {
    width: 100%;
    max-height: 150vh;
    border-bottom: 0.8px solid rgb(219, 219, 219);


    .user-preview {
        // padding: 5px;
        padding-bottom: 5px;
    }

    .action-btns {
        display: flex;
        gap: 13px;
        position: relative;

        .icon-btn.save {
            position: absolute;
            right: 0;
        }

    }

    a {
        background-color: transparent;
        border: none;
        color: inherit;
        text-align: start;

        &:hover {
            color: rgb(115, 115, 115);
            background-color: transparent;
        }
    }

    .x1lliihq.x1n2onr6 {
        &:hover {
            color: rgb(115, 115, 115);
        }
    }

    .x1lliihq.x1n2onr6 {
        &:hover {
            color: rgb(115, 115, 115);
        }
    }

    ._ab6- {
        &:hover {
            color: rgb(115, 115, 115);
        }
    }




    button {
        background-color: transparent;
        border: none;
        color: inherit;
        text-align: start;

        &:hover {
            color: rgb(115, 115, 115);
            background-color: transparent;
        }

        ._ab6- {
            &:hover {
                color: rgb(115, 115, 115);
            }
        }
    }

    .icon-btn {

        ._ab6- {
            &:hover {
                color: rgb(115, 115, 115);
            }
        }
    }

    &.story-img-container {
        width: 468px;
        height: 585px;

        &.story-img {
            max-width: 100%;
            max-height: 100%;


        }
    }


}


.mini-user-img {
    height: 32px;
    width: 32px;

    border-radius: 50%;
}

#message {
    margin-top: 2px;
}

.short-story-title {
    display: inline;

}

.long-story-title {
    display: inline;

}

.comments-preview {

    &>.user-name {
        padding: 0 1vw 0 0;
        float: left;


    }
}

.comment-input {
    border: none;
    background-color: transparent;
    outline: none;
    margin: 0 1vw 1vw 1vw;

}





// .upload-preview {
//     height: 200px;
//     background-color: wheat;

// }

// .bg-img {
//     margin: auto;
//     width: 200px;
// }

.user-name {
    font-family: inherit;
    font-weight: 600;
    padding: 0 1vw;
    align-items: center;
}

.story-title {

    &>.user-name {
        padding: 0 1vw 0 0;
        float: left;

    }
}

button {
    &._ab6- {
        &:hover {
            color: rgb(115, 115, 115);
        }
    }
}